::selection {
    color: #000;
    background: #fff;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #C62AA8;
}

::-webkit-scrollbar-thumb:hover {
    background: #C62AA8;
}

@font-face {
    font-family: Brand Boosters Roboto Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Brand Boosters Roboto Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Brand Boosters Sans Bold;
    src: url(../fonts/lemon_milk/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: Brand Boosters Sans Regular;
    src: url(../fonts/lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: Brand Boosters Arena;
    src: url(../fonts/Arena.otf);
}

* {
    font-family: Brand Boosters Roboto Light, sans-serif;
    color: #fff;
}

body {
    background-color: #000019;
    background-image: url(../img/home-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.py-5 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.py-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

label {
    font-family: Brand Boosters Arena, sans-serif;
}

.x-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

ul li {
    list-style: none;
}

h1 {
    font-family: Brand Boosters Arena, sans-serif;
    color: #fff;
    font-size: 67px;
}

h2 {
    font-family: Brand Boosters Arena, sans-serif;
    text-align: center;
}

h3 {
    font-family: Brand Boosters Sans Bold, sans-serif;
    color: #fff;
    font-size: 40px;
}

h4 {
    font-family: Brand Boosters Sans Bold, sans-serif;
    color: #fff;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: Brand Boosters Arena, sans-serif;
    font-size: 25px;
}

strong {
    font-family: Brand Boosters Arena, sans-serif;
    text-shadow: 2px 2px 0px #ffffff9c;
    color: #C62AA8;
}

a:hover {
    color: #fff;
}

header {
    background-color: #000019;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    font-family: Brand Boosters Arena, sans-serif;
    font-size: 50px;
    color: #C62AA8;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu-item {
    padding: 0 20px;
}

#hero-section {
    background-image: url(../img/hero-bg-02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img {
    height: 777.1765px;
}

.gradient img {
    position: absolute;
    width: 100%;
    top: 77px;
    height: 777px;
    opacity: .8;
}

#hero-section p {
    color: #fff;
    font-size: 20px;
}

.btn-brandboosters {
    background-image: url(../img/btn.png);
    width: 131.8088px;
    height: 54.6295px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Brand Boosters Arena, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-brandboosters a {
    font-family: Brand Boosters Arena, sans-serif;
    font-size: 20px;
}

h2 {
    font-size: 67px;
    color: #fff;
}

.img-container {
    width: 200px;
    height: 110px;
    border-radius: 10px;
    background-color: #ffffff0d;
    margin: 10px 0;
    box-shadow: 5px 5px 20px 5px #ffffff0d inset;
    display: flex;
    align-items: center;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services .card {
    background-color: #02021E;
    width: 296px;
    height: 470px;
    border-radius: 21px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    padding: 150px 10px;
    text-align: center;
}

.offer .card {
    background-color: #02021E;
    width: 350px;
    height: 470px;
    border-radius: 21px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    padding: 150px 10px;
    text-align: center;
}

.services strong {
    text-shadow: 1px 1px 0px #ffffff;
}

.card-graphics {
    background-image: url(../img/graphic-bg.png);
    margin-top: -20px;
}

.card-animation {
    margin-top: 20px;
    background-color: #2e0aa4 !important;
    border: none;
    background-image: linear-gradient(180deg, #2e0aa400 0%, #000000 50%, #75196f 100%), url(../img/animation-bg.png);
}

.card-web {
    background-image: url(../img/web-bg.png);
    margin-top: -20px;
}

.card-commerce {
    background-image: url(../img/commerce-bg.png);
}

.design {
    margin-top: -20px !important;
    background-image: url(../img/design.png);
}

.animation {
    background-image: url(../img/animation.png);
    margin-top: 20px !important;
}

.web {
    background-color: #2e0aa4 !important;
    border: none;
    background-image: linear-gradient(180deg, #2e0aa400 0%, #000000 50%, #75196f 100%), url(../img/web.png);
    margin-top: -20px !important;
}

.gaming {
    background-color: #2e0aa4 !important;
    border: none;
    background-image: linear-gradient(180deg, #2e0aa400 0%, #000000 50%, #75196f 100%), url(../img/gaming.png);
    margin-top: -20px !important;
}

.emotes {
    background-image: url(../img/emotes.png);
    margin-top: 20px !important;
}

.mascot {
    margin-top: -20px !important;
    background-image: url(../img/mascot.png);
}

.form-control {
    background-color: transparent;
}

.form-label {
    color: #fff;
    font-family: Brand Boosters Roboto Light, sans-serif;
}

.card-prices {
    height: 600px !important;
    width: 400px !important;
}

.table-of-content {
    margin: 10px;
}

.table-of-content:hover .drop-down {
    display: block;
}

#services:hover .drop-down {
    display: block;
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #000019;
    padding: 15px;
    z-index: 2;
}

.menu-extras {
    display: none;
}

.why-bg {
    border-radius: 10px;
    background-color: #ffffff0d;
    margin: 10px 0;
    box-shadow: 5px 5px 20px 5px #ffffff0d inset;
    padding: 20px;
}

.animation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

select#whatServices {
    background-color: transparent;
    color: #FFFFFF;
}

select#whatServices option {
    background-color: #01001C;
    color: #FFFFFF;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text a {
    font-family: Brand Boosters Roboto Light, sans-serif;
    font-size: 20px;
}

h5 {
    font-family: Brand Boosters Sans Bold, sans-serif;
    font-size: 20px;
    color: #C62AA8;
    margin-top: 20px;
}

.card-services {
    padding: 0 70px;
}

p {
    color: #F1F2F2;
}

.hero-services {
    background-image: url(../img/services-bg.png);
}

.hero-offer {
    background-image: url(../img/offer-bg.png);
}

.hero-about {
    background-image: url(../img/about-bg.png);
}

.hero-portfolio {
    background-image: url(../img/portfolio-bg.png);
}

.hero-other {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-family: Brand Boosters Sans Regular, sans-serif;
    color: #fff;
}

footer .row-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0
}

footer .row-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0
}

footer .row-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0
}

footer .row-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0
}

footer .row-4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0
}

footer .footer-item {
    padding: 10px 20px;
}

@media (max-width: 575.98px) {

    .hero-img {
        width: 100%;
    }

    h2 {
        font-size: 47px;
    }

    h3 {
        font-size: 30px;
    }

    .stream {
        margin: 0 70px;
    }

    .card-web {
        margin-top: 20px;
    }

    .card-graphics {
        margin-top: 20px;
    }

    .web {
        margin-top: 20px !important;
    }

    .gaming {
        margin-top: 20px !important;
    }

    .gradient img {
        height: 1362px;
    }

    .animation-wrapper {
        flex-wrap: wrap;
    }

    .x-5 {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }
}

@media (max-width: 767.98px) {
    .main-menu {
        display: none;
    }

    .menu-extras {
        display: inline;
    }

    #checkbox,
    #check {
        display: none;
    }

    #menu-extra {
        position: fixed;
        left: -100%;
        transition: all ease 0.8s;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 3;
        background: #000019;
        height: 100vh;
        justify-content: flex-start;
        padding: 10px 20px;
        top: 100px;
    }

    #checkbox:checked~.menu-drop-down {
        display: block;
    }

    .menu-drop-down {
        display: none;
    }

    .menu-drop-down div {
        padding: 5px 0;
    }

    #check:checked~#menu-extra {
        left: 0;
    }

    #check:checked~#my-nav #hamberger {
        transform: rotate(90deg);
        transition: all ease 0.5s;
    }

    #hamberger {
        position: relative;
        font-size: 25px;
        z-index: 1;
        transition: all ease 0.5s;
    }
}

@media (max-width: 991.98px) {}
